html{
    scroll-behavior: smooth;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans',sans-serif;
  }

  .navbar{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 136, 0, 0.6),rgba(255, 136, 0, 0.6)),url(images/pexels-navneet-shanu-672630.jpg);
    background-size: cover;
    background-position: center;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .logo{
    color: white;
    font-size: 28px;
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
  }
  nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  nav ul li a:hover{
    color: orangered;
    transition: .3s;
  }
  button{
    border: none;
    background: orangered;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
  }
  button:hover{
    transform: scale(1.3);
    cursor: pointer;
  }
  #logo-quote{
    margin-left: 15%;
    width: 40%;
    margin-top: 5%;
    font-size: 60px;
  }
  .container {
        background-color: #ffffff;
        max-width: 400px;
        margin: 50px auto;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        background-color: rgba(255,255,255,0.3);
        padding: 25px;
        text-align: center;
        margin-top: 0px;
    }
    #mlogin{
      margin-left: 0px;
    }
    #glogin{
      position: relative;
    }
    section{
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 100px;
    }   
#ser{
height: 100vh;
width: 100%;
background-image: linear-gradient(rgba(255, 136, 0, 0.6),rgba(255, 136, 0, 0.6)),url(kasi.jpg);
background-size: cover;
background-position: center;
}
.social-icons{
padding:30px;
background-color:orangered;
text-align: right;
margin-top: -100px;
margin-right: 50px;
}
.social-icons a{
color:#fff;
line-height:30px;
font-size:30px;
margin: 0 5px;
text-decoration:none;
padding: 5px;

}
.social-icons a i{
line-height:30px;
font-size:30px;
-webkit-transition: all 200ms ease-in;
-webkit-transform: scale(1); 
-ms-transition: all 200ms ease-in;
-ms-transform: scale(1); 
-moz-transition: all 200ms ease-in;
-moz-transform: scale(1);
transition: all 200ms ease-in;
transform: scale(1);
}
.social-icons a:hover i{
box-shadow: 0px 0px 150px #000000;
z-index: 2;
-webkit-transition: all 200ms ease-in;
-webkit-transform: scale(1.5);
-ms-transition: all 200ms ease-in;
-ms-transform: scale(1.5);   
-moz-transition: all 200ms ease-in;
-moz-transform: scale(1.5);
transition: all 200ms ease-in;
transform: scale(1.5);
}
.to-top{
position:fixed;
background: #fff;
bottom: 16px;
right: 32px;
width: 50px;
height: 50px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
font-size: 32px;
color: black;
text-decoration: none;
opacity: 0;
pointer-events: none;
transition: all .4s;
}
.to-top.active{
bottom: 32px;
pointer-events: auto;
opacity: 1;
}

    #terms {
        font-size: 18px;
        background-color: orangered;
        color: whitesmoke;
        height:400px;
    }

    .Contact{
      font-size: large;
      margin-left: 150px;
    }
    #contact{
      font-size:xx-large;
    }
    #num,#email{
      font-size: medium;
    }
    #term{
      text-align: center;
      margin-top: 100px;
    }
    h1{
      text-align: center;
    }
    .content{
      font-size:35px;
      height: 100vh;
      width: 100%;
      background-image: linear-gradient(rgba(255, 136, 0, 0.6),rgba(255, 136, 0, 1)),url(1000_F_364348325_KaSXTJafyv15ydwcaeYbkf10pkGYqV21.jpg);
      background-size: cover;
      background-position: center;
    }
    .anim{
      opacity: 0;
      transform: translateY(30px);
      animation: moveup 0.5s linear forwards;
    }
    @keyframes moveup{
      100%{
        opacity: 1;
        transform: translateY(30px);
      }
    }
    .to-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  background: white;
  color: black;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 22px;
  box-shadow: 0 0 10px black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
}
.to-top.active {
  opacity: 1;
  pointer-events: auto;
}
